.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
}

.chess-board th {
    padding: .5em;
}

.chess-board td {
    border: 1px solid;
    width: 2em;
    height: 2em;
}

.chess-board .light {
    background: #eee;
}

.chess-board .dark {
    background: #ff0095;
}

.piece {
    text-shadow: 2px 2px 2px white;
}

td.dark {
    text-align: center;
}

td.light {
    text-align: center;

}